/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Assistant&family=Montserrat&display=swap');

body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* Gradient obtained from UI Gradients (https://uigradients.com)  */
    background: #ff00cc;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #333399, #ff00cc);
    background: linear-gradient(to right, #333399, #ff00cc);
}

.heading {
    background-color: rgba(0, 0, 0, 0.5);
    color: #F5FFFE;
    text-align: center;
}

.title {
    font-family: 'Assistant', sans-serif;
    font-size: 2.5rem;
    letter-spacing: 0.6rem;
    text-shadow: 4px 1px 0px rgba(190,171,171,0.47);
}

.subtitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

.subtext {
    font-size: small;
    display: block;
}

#random-songs-filters {
    background: rgba(0, 0, 0, 0.6);
    height: 8rem;
    line-height: 8rem;
}

#random-songs-form {
    text-align: center;
    margin: 3rem 5rem !important;
    color: #fff;
}

.inactive {
    display: none;
}

#show-panel[aria-expanded=false]::after {
    content: 'Show Filters Panel';
}

#show-panel[aria-expanded=true]::after {
    content: 'Hide Filters Panel';
}

#results-table {
    width: 70%;
    text-align: center;
    margin: auto;
}

/* Disable text highlighting by user (https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting) */
.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}