/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');

body {
    height: 100vh;
    /* Gradient created using coolors.co gradient creator  */
    background: hsla(275, 100%, 25%, 1);
    background: linear-gradient(30deg, hsla(275, 100%, 25%, 1) 14%, hsla(254, 83%, 39%, 1) 57%, hsla(230, 71%, 53%, 1) 100%);
    background: -moz-linear-gradient(30deg, hsla(275, 100%, 25%, 1) 14%, hsla(254, 83%, 39%, 1) 57%, hsla(230, 71%, 53%, 1) 100%);
    background: -webkit-linear-gradient(30deg, hsla(275, 100%, 25%, 1) 14%, hsla(254, 83%, 39%, 1) 57%, hsla(230, 71%, 53%, 1) 100%);
    background-repeat: no-repeat;
}

h1 {
    color: #F5FFFE;
    font-family: 'Ubuntu Condensed', sans-serif;
    text-align: center;
    font-size: 4rem;
}

button {
    display: none;
}