/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Assistant&family=Montserrat&display=swap');

body {
    height: 100%;
    /* ColorZilla CSS Gradient Generator */
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#333399+0,ff00cc+100 */
    background: #333399; /* Old browsers */
    background-image: -moz-linear-gradient(left,  transparent 60%, #ff00cc 100%); /* FF3.6-15 */
    background-image: -webkit-linear-gradient(left,  transparent 60%,#ff00cc 100%); /* Chrome10-25,Safari5.1-6 */
    background-image: linear-gradient(to right,  transparent 60%,#ff00cc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='transparent', endColorstr='#ff00cc',GradientType=1 ); /* IE6-9 */
}

.page-wrapper {
    position: relative;
    min-height: 100vh;
}

.navbar-dark {
    /* ColorZilla CSS Gradient Generator */
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#333399+0,ff00cc+100 */
    background: #333399 !important; /* Old browsers */
    background-image: -moz-linear-gradient(left, transparent 60%, #ff00cc 100%) !important; /* FF3.6-15 */
    background-image: -webkit-linear-gradient(left, transparent 60%,#ff00cc 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background-image: linear-gradient(to right, transparent 60%,#ff00cc 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='transparent', endColorstr='#ff00cc',GradientType=1 ); /* IE6-9 */
}

.heading {
    background-color: rgba(0, 0, 0, 0.5);
    color: #F5FFFE;
    text-align: center;
}

.title {
    font-family: 'Assistant', sans-serif;
    font-size: 2.5rem;
    letter-spacing: 0.6rem;
    text-shadow: 4px 1px 0px rgba(190,171,171,0.47);
}

.subtitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

.subtext {
    font-size: small;
    display: block;
}

/* Content wrapper for footer */

.content-wrapper {
    padding-bottom: 10.5rem;
}

/* Homepage Section */

#random-songs-filters {
    background: rgba(0, 0, 0, 0.6);
    line-height: 8rem;
}

#random-songs-form {
    text-align: center;
    margin: 3rem 5rem !important;
    color: #fff;
}

/* Stack Overflow solution (https://stackoverflow.com/questions/9590313/how-to-use-the-scroll-and-max-options-in-autocomplete) */
.ui-autocomplete {
    max-height: 15rem;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding to account for vertical scrollbar */
    padding-right: 20px;
} 

.inactive {
    display: none;
}

#show-panel[aria-expanded=false]::after {
    content: 'Show Filters Panel';
}

#show-panel[aria-expanded=true]::after {
    content: 'Hide Filters Panel';
}

#form-section::after {
    content: "";
    background: url("../images/note.png");
    background-repeat: no-repeat;
    opacity: 0.2;
    position: absolute;
    top: 25%;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1; 
}

#results-table {
    width: 70%;
    text-align: center;
    margin: auto;
}

/* END Homepage Section */

/* Charts Sectiom */

#charts-form-section {
    margin-top: 7rem;
    margin-bottom: 7rem;
}

#charts-form-section::after {
    content: "";
    background: url("../images/globe.png");
    background-repeat: no-repeat;
    opacity: 0.2;
    position: absolute;
    top: 23%;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

#charts-input-group {
    width: 70%;
    margin: auto;
}

.table-container {
    max-height: 30rem;
    overflow: scroll;
}

#charts-results-table thead {
    position: sticky;
    top: 0;
}

#charts-results-table th:first-child {
    width: 5rem;
}

#charts-results-table {
    background-color: #fff !important;
    border-color: #000 !important;
}

#charts-results-table th {
    box-shadow: inset 1px 1px #000, 0 1px #000;
    background: #fff;
}

/* END Charts section */

footer {
    position: absolute;
    height: 5.5rem;
    bottom: 0;
    width: 100%;
    background-color: #371253;
}

footer div {
    width: 33.33333%;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.api-credit {
    right: 2%;
    text-align: right;
}

.copyright {
    left: 2%;
    text-align: left;
}

.social {
    margin: 0 auto;
    left: 33.33333%;
    font-size: 1.75rem;
    text-align: center;
}

/* Disable text highlighting by user (https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting) */
.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Spinner CSS taken from icons8.com (https://icons8.com/cssload/en/spinners/8) */


.cssload-container{
	position:relative;
}
	
.cssload-whirlpool,
.cssload-whirlpool::before,
.cssload-whirlpool::after {
	position: absolute;
	top: 50%;
	left: 50%;
	border: 1px solid rgb(204,204,204);
	border-left-color: rgb(0,0,0);
	border-radius: 974px;
		-o-border-radius: 974px;
		-ms-border-radius: 974px;
		-webkit-border-radius: 974px;
		-moz-border-radius: 974px;
}

.cssload-whirlpool {
	margin: -24px 0 0 -24px;
	height: 49px;
	width: 49px;
	animation: cssload-rotate 1150ms linear infinite;
		-o-animation: cssload-rotate 1150ms linear infinite;
		-ms-animation: cssload-rotate 1150ms linear infinite;
		-webkit-animation: cssload-rotate 1150ms linear infinite;
		-moz-animation: cssload-rotate 1150ms linear infinite;
}

.cssload-whirlpool::before {
	content: "";
	margin: -22px 0 0 -22px;
	height: 43px;
	width: 43px;
	animation: cssload-rotate 1150ms linear infinite;
		-o-animation: cssload-rotate 1150ms linear infinite;
		-ms-animation: cssload-rotate 1150ms linear infinite;
		-webkit-animation: cssload-rotate 1150ms linear infinite;
		-moz-animation: cssload-rotate 1150ms linear infinite;
}

.cssload-whirlpool::after {
	content: "";
	margin: -28px 0 0 -28px;
	height: 55px;
	width: 55px;
	animation: cssload-rotate 2300ms linear infinite;
		-o-animation: cssload-rotate 2300ms linear infinite;
		-ms-animation: cssload-rotate 2300ms linear infinite;
		-webkit-animation: cssload-rotate 2300ms linear infinite;
		-moz-animation: cssload-rotate 2300ms linear infinite;
}



@keyframes cssload-rotate {
	100% {
		transform: rotate(360deg);
	}
}

@-o-keyframes cssload-rotate {
	100% {
		-o-transform: rotate(360deg);
	}
}

@-ms-keyframes cssload-rotate {
	100% {
		-ms-transform: rotate(360deg);
	}
}

@-webkit-keyframes cssload-rotate {
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@-moz-keyframes cssload-rotate {
	100% {
		-moz-transform: rotate(360deg);
	}
}